@using UniversityDtos
@model RetornoDto<UniversityDtos.AlunoTurma.CreateAlunoTurma>


@if (Model.ErrorMessage != null)
{
    <h3>@Model.ErrorMessage</h3>
}
<form method="put" asp-controller="AlunoTurma" asp-action="Adicionar">
    <div class="row d-flex justify-content-center">
        <select asp-for="Object.AlunoId" style="width: 45%;">
            <option>Selecione um Aluno</option>
            @if(Model.Object.alunos != null)
            {
                @foreach (var aluno in Model.Object.alunos)
                {
                    <option value="@aluno.Id">@aluno.Nome</option>
                }                
            }
        </select>

        <select asp-for="Object.TurmaId" style="width: 45%;">
            <option>Selecione uma turma</option>
            @if(Model.Object.turmas != null)
            {
                @foreach (var turma in Model.Object.turmas)
                {
                    <option value="@turma.Id">@turma.NomeTurma</option>
                }
            })
        </select>
    </div>
    <div>
        <button class="btn" type="submit">Salvar</button>
    </div>
</form>