@using UniversityDtos
@model RetornoDto<List<UniversityDtos.Turma.TurmaDto>>
@{
    ViewData["Title"] = "Cadastro de turma";
}
@if (Model.ErrorMessage != null)
{
    <h3>@Model.ErrorMessage</h3>
}
<button type="button" class="btn"><a asp-controller="Turma" asp-action="Create"> Cadastrar </a></button>
<table>
    <tr>
        <th>Id</th>
        <th>Curso</th>
        <th>Turma</th>
        <th>Ano de Finalização</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var turma in Model.Object)
    {
        <tr>
            <td>@turma.Id</td>
            <td style="@(turma.IsDeleted ? "text-decoration: line-through; color: #ccc" : "")">@turma.Curso</td>
            <td style="@(turma.IsDeleted ? "text-decoration: line-through; color: #ccc" : "")">@turma.NomeTurma</td>
            <td style="@(turma.IsDeleted ? "text-decoration: line-through; color: #ccc" : "")">@turma.Ano</td>
            @if (!turma.IsDeleted)
            {
                <td> <button type="button" class="btn"> <a asp-controller="Turma" asp-action="Editar" asp-route-obj="@turma.Id"> Editar </a> </button></td>
            }
            else
            {
                <td></td>
            }
            <td>
                <button type="button" class="btn">
                    <a asp-controller="Turma"
                       asp-action="@(turma.IsDeleted ? "Reativar" : "Desativar")"
                       asp-route-id="@turma.Id">
                        @(turma.IsDeleted ? "Reativar" : "Desativar")
                    </a>
                </button>
            </td>
        </tr>
    }
</table>
