@model List<UniversityModels.Turma>
@{
    ViewData["Title"] = "Cadastro de Aluno";
}

<button type="button" class="btn"><a asp-controller="Aluno" asp-action="Create"> Cadastrar </a></button>
<table>
    <tr>
        <th>Id</th>
        <th>Curso</th>
        <th>Turma</th>
        <th>Ano de Finalização</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var aluno in Model)
    {
        <tr>
            <td>@aluno.Id</td>
            <td>@aluno.CursoId</td>
            <td>@aluno.NomeTurma</td>
            <td>@aluno.Ano</td>
            <td><button type="button" class="btn"> <a asp-controller="Aluno" asp-action="Editar" asp-route-id="@aluno.Id"> Editar </a></button></td>
            <td><button type="button" class="btn"> <a asp-controller="Aluno" asp-action="Editar" asp-route-id="@aluno.Id"> @(aluno.IsDeleted ? "Reativar" : "Excluir") </a></button></td>
        </tr>
    }
</table>
