@model List<UniversityModels.Aluno>
@{
    ViewData["Title"] = "Cadastro de Aluno";
}

<button type="button" class="btn"><a asp-controller="Aluno" asp-action="Create"> Cadastrar </a></button>
<table>
    <tr>
        <th>Id</th>
        <th>Usuário</th>
        <th>Senha</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var aluno in Model)
    {
        <tr>
            <td>@aluno.Id</td>
            <td style="@(aluno.IsDeleted ? "text-decoration: line-through; color: #ccc" : "")">@aluno.Nome</td>
            <td style="@(aluno.IsDeleted ? "text-decoration: line-through; color: #ccc" : "")">@aluno.Usuario</td>
            @if (!aluno.IsDeleted)
            {
                <td> <button type="button" class="btn"> <a asp-controller="Aluno" asp-action="Editar" asp-route-id="@aluno.Id"> Editar </a> </button></td>
            }
            else
            {
                <td></td>
            }
            <td>
                <button type="button" class="btn">
                    <a asp-controller="Aluno"
                       asp-action="@(aluno.IsDeleted ? "Reativar" : "Desativar")"
                       asp-route-id="@aluno.Id">
                        @(aluno.IsDeleted ? "Reativar" : "Desativar")
                    </a>
                </button>
            </td>
        </tr>
    }
</table>
